* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Variable", sans-serif;
  background: hsl(210deg 5.26% 7.45%);
  color: hsl(20deg 0% 100%);
  background-image: radial-gradient(
      circle at 0% 20%,
      rgba(255, 0, 0, 0.2),
      transparent 30%
    ),
    radial-gradient(circle at 80% 50%, rgba(255, 0, 0, 0.2), transparent 30%),
    radial-gradient(circle at 30% 90%, rgba(255, 0, 0, 0.2), transparent 30%);
}

input,
button {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
