@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  background: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size-root);
  min-height: 100dvh;
  background-image: radial-gradient(
      circle at 0% 20%,
      var(--color-accent-rgba),
      transparent 30%
    ),
    radial-gradient(
      circle at 80% 50%,
      var(--color-accent-rgba),
      transparent 30%
    ),
    radial-gradient(
      circle at 30% 90%,
      var(--color-accent-rgba),
      transparent 30%
    );
  background-repeat: no-repeat;
}

input,
button {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
