:root {
  /* Color Variables */

  --color-background: hsl(0, 0%, 0%);
  --color-text: hsl(20deg 0% 100%);
  --color-accent-rgba: hsla(0, 100%, 50%, 0.3);
  --color-background-secondary: hsl(0, 100%, 50%);
  --color-background-secondary-hover: hsla(0, 100%, 50%, 0.7);

    /* Color Focus */
  --color-focus: hsl(0, 100%, 50%);

  /* Font Variables */
  --font-family-base: "Lexend Variable", sans-serif;
  --font-size-root: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;

  /* Layout Variables */
  --spacing-unit: 1rem;
  --border-radius: 4px;

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;

  /* Max Width */
  --max-width-container: 1024px;

  /* Padding and Margin Variables */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;

  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;

  /* Height Variables */
  --height-button-small: 2rem;
  --height-navbar-medium: 4rem;
  --height-navbar-large: 5rem;

  /* Transition Variables */
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
}
