/* .home-layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
} */

.home-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  width: 100%;
  max-width: var(--max-width-container);
  margin: var(--margin-large) auto;
  padding: 0 var(--padding-medium);
}

.no-games-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}