.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  height: var(--height-button-small);
  padding: var(--padding-small);
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  border: none;
}

.search-input:focus {
  outline: 1px var(--color-focus) solid;
}

.search-button {
  display: flex;
  align-items: center;
  height: var(--height-button-small);
  padding: 0px var(--padding-small);
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  background-color: var(--color-background-secondary);
  border: none;
  cursor: pointer;
  margin: 0px;
  color: var(--color-text);
}

.search-button:hover {
  background-color: var(--color-background-secondary-hover);
}

@media (max-width: var(--breakpoint-md)) {
  .search-input {
    height: var(--height-button-small);
    
  }
}
