.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--color-background);
}

.navbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--max-width-container);
  margin: auto;
  padding: 0 var(--padding-medium);
}

.logo {
  cursor: pointer;
  height: 42px;
  transition: scale var(--transition-duration) var(--transition-timing-function);
}

.logo:hover {
  opacity: 0.8;
  scale: 1.1;
}
