.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--color-background);

}

.footer-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: var(--max-width-container);
  margin: auto;
  padding: 0 var(--padding-medium);
}
