.trailers-section-title {
  font-size: var(--font-size-medium);
  color: var(--color-primary);
  margin: var(--margin-small) 0;
}

.trailers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: var(--spacing-large);
}

.trailer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-background-secondary);
  padding: var(--padding-small);
  gap: var(--spacing-small);
}

.trailer-video {
  border-radius: var(--border-radius);
  width: 100%;
}

.trailer-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-trailers-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
