.filter-panel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--spacing-medium);
  padding: var(--padding-large) var(--padding-medium);
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-bacground-tertiary);
  border-radius: var(--border-radius);
}

@media (width >= 480px) {
  .filter-panel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 768px) {
  .filter-panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1024px) {
  .filter-panel {
    grid-template-columns: repeat(6, 1fr);
  }
}

.filter-panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
  height: var(--height-button-small);
  padding: 0px var(--padding-small);
  background-color: var(--color-background-secondary);
  color: var(--color-text);
  border-radius: var(--border-radius) var(--border-radius);
  border: none;
  cursor: pointer;
}

.filter-panel-button:hover {
  background-color: var(--color-background-secondary-hover);
}
