.filter-panel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  border: 1px solid #f0050527;
  background-color: #f0050527;
  border-radius: 8px;

  /* Fondo con desenfoque */
  /* background: rgba(255, 255, 255, 0.1);  */
  /* background: transparent; */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}

.filter-panel {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .filter-panel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  /* md breakpoint */
  .filter-panel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  /* lg breakpoint */
  .filter-panel {
    grid-template-columns: repeat(6, 1fr);
  }
}

.filter-panel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  border: 1px solid #ccc;
}
