.filter-panel {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  border: 1px solid #f0050527;
  border-radius: 8px;
  margin-bottom: 1.5rem;

    /* Fondo con desenfoque */
    /* background: rgba(255, 255, 255, 0.1);  */
    background: transparent;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(10px); 
}

.filter-panel label {
  display: flex;
  flex-direction: column;
  font-size: rem;
  font-weight: bold;
}

.filter-panel select,
.filter-panel input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
