.select-filter {
  height: var(--height-button-small);
  padding: 0px var(--padding-small);
  font-family: var(--font-family-base);
  font-size: var(--font-size-root);
  cursor: pointer;
  display: flex;
}

.select-filter:focus-visible {
  outline-color: var(--color-focus);
}
