.select-filter {
  height: var(--height-button-small);
  padding: 0px var(--padding-small);
  font-family: var(--font-family-base);
  font-size: var(--font-size-root);
  cursor: pointer;
  display: flex;
}

.select-filter:focus-visible {
  outline-color: var(--color-focus);
}

/* Estilos personalizados para el scrollbar */
.select-filter::-webkit-scrollbar {
  width: 10px;
}

.select-filter::-webkit-scrollbar-track {
  background: hsl(0, 0%, 64%);
  border-radius: var(--border-radius-base);
}

.select-filter::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 64%);
}

.select-filter::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 15%, 0.8);
}
